.nav-item {
    color: white
}

a {
    color: white;
}

.topper {
    background-color: #FFA000;
    padding: 0px;
}

.welcome {
    margin-top: 4%;
    float: right;
}

.navbar-right {
    align-content: right
}

#logout {
    color: #FFC107;
}

#title {
    margin-left: 1%
}