.col-md-9 {
    background-color: #fcf1cf;
    height: 100%
}

.col-md-3 {
    background-color: #fcf1cf
}

.col-md-6 {
    background-color: #fcf1cf;
}

#linkTo {
    color: black;
}

.card {
    margin: 5%;
    background-color: #FFECB3;
    height: 10%;
    width: 80%;
    border-radius: 25px;
    border: 2px solid #00BCD4;
    padding: 15px; 
}

body {
    height: 100%
}

#id {
    height: 100%
}

.full-height {
    height: 100%
}

.container-fluid {
    height: 100%
}

.row {
    height: 100%
}

.col-md-3 {
    height: 100%
}

.btn-info {
    color: white
}

.card-title {
    font-size: 32px;
}