.multiindividualQuestion {
    height: 70px;
    width: 80%;
    background-color: #FFECB3;
    margin: 0px;
    overflow: auto;
    border-radius: 25px;
    border: 2px solid #00BCD4;
    padding: 15px; 
    position: absolute
}

h5 {
    width: 49%;
    float: left;
}

#input {
    margin-top: 5px;
    width: 30%;
}

#num1 {
    width: 10%;
}

#sign {
    width: 10%;
}

#equals {
    width: 10%;
}

#num2 {
    width: 10%;
}

#input {
    height: 30px
}
